/* make everything a border box will apparently make sizing easier */
*, *::after, *::before {
  box-sizing:  border-box;
}

/* easily change colors across the entire game */
:root {
  --hue: 200;
  --saturation: 50%;
  /* hue, saturation, lightness */
  --foreground-color: hsl(var(--hue), var(--saturation), 75%);
  --background-color: hsl(var(--hue), var(--saturation), 20%);
}

body {
  /* makes positioning easier */
  margin: 0;
  background-color: var(--background-color);
  overflow: hidden;
}

.paddle {
  /* position needs to be a variable set in javascript */
  --position: 50;

  position:absolute;
  background-color: var(--foreground-color);
  top:calc(var(--position)*1vh);
  /* after top, its not directly centered, so transform moves it back up half its height */
  transform: translateY(-50%);
  width: 1vh;
  height: 10vh;
}

.paddle.left {
  left:1vw;
}

.paddle.right {
  right:1vw;
}

.ball {
  /* position needs to be a variable set in javascript */
  --x:50;
  --y:50;

  position:absolute;
  background-color: var(--foreground-color);
  left:calc(var(--x)*1vw);
  top:calc(var(--y)*1vh);
  border-radius: 50%;
  /* after top, its not directly centered, so transform moves it back up half its height and width */
  transform: translate(-50%, -50);
  width: 2.5vh;
  height: 2.5vh;
  visibility: hidden;
}

.score {
  display:flex;
  justify-content: center;
  font-weight: bold;
  font-size: 7vh;
  color: var(--foreground-color);
}

/* select every direct child of score */
.score > * {
  /* both of these make sure they take up half the screen */
  flex-grow: 1;
  flex-basis: -0;
  padding: 0 2vh;
  margin: 1vh 0;
  opacity:0.5;
}

.score > :first-child {
  text-align:right;
  border-right: .5vh solid var(--foreground-color);
}

/* start box */
.starting {
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%,-50%);
  text-align: center;
}

#start {
  width: 10vw;
  height: 5vw;
  font-size: 2rem;
}

h1 {
  color: var(--foreground-color);
  margin-bottom: 20px;
  font-size: 3.5rem;
}

@media only screen and (max-device-width: 600px) {
  #start {
    width: 20vw;
    height: 10vw;
  }
}